<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Star wars Quote App</title>

        <style>

            body {
                box-sizing: border-box;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto 2fr;
                grid-template-areas: "header header header" "add-quotes update-quote delete-quote" "quotes quotes quotes";
                gap: 1rem;
                margin: 0;
                padding: 1rem;
                background-color: #ffffff;
                background-image: url('/download.svg');
                background-attachment: fixed;
                background-size: cover;
            }
            [data-position] {
                background-color: white;
                border-radius: 0.5rem;
                padding: 1rem;
                box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
            }
            [data-position="header"] {
                grid-area: header;
            }
            [data-position="quotes"] {
                grid-area: quotes;
                overflow: scroll;
            }
        </style>
    </head>
    <body>
        <h1 data-position="header">May Node and Express be with you.</h1>

        <section data-position="add-quote">
            <h2>Add quote</h2>
            <form action="/quotes" method="POST">
                <input type="text" placeholder="name" name="name"/>
                <input type="text" placeholder="quote" name="quote"/>
                <button type="submit">Submit</button>
            </form>
        </section>

        <section data-position="delete-quote">
            <div>
                <h2>Darth Vadar invades!</h2>
                <p>
                    Replace first Yoda's quote with a quote written by Darth Vadar
                </p>
                <button id="update-button">Replace Yoda's quote</button>
            </div>
        </section>

        <section data-position="delete-quote">
            <div>
                <h2>Remove Darth Vadar!</h2>
                <p>
                    Delete one Darth Vadar's quote. Does nothing if there are no more Darth
                                                                                                                                                                                            Vadar's quote
                </p>
                <button id="delete-button">Delete Darth Vadar's quote</button>
                <div id="message"></div>
            </div>
        </section>

        <section data-position="quotes">
            <%= quotes %>
            <h2>
                Quotes</h2>

            <ul
                class="quotes">
                <!-- Loop through quotes -->
                <% for(var i = 0; i < quotes.length; i++) {%>
                    <li
                        class="quote">
                        <!-- Output name from the iterated quote object -->
                        <span><%= quotes[i].name %></span>:
                        <!-- Output quote from the iterated quote object -->
                        <span><%= quotes[i].quote %></span>
                    </li>
                <% } %>
            </ul>
        </section>
        <script src="/main.js"></script>
    </body>
</html>
